body {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
  font-family: sans-serif;
  color: white;
  background: url(image-path('reedsy.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.activity {
  height: 20px;
  padding: 30px;
  background-color: rgba(51, 159, 255, 0.8);
  max-width: 350px;
  margin: 50px auto;
  border-radius: 10px;
}

.activity-text {
  font-size: 18px;
}

.time-text {
  font-size: 12px;
  text-transform: lowercase;
  font-style: italic;
}

.time-text, .activity-text {
  display: inline;
}

.book-icon {
  height: 15px;
  margin-right: 5px;
}

